body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212121;
}

body h1 {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dlog-bar {
  display: flex;
  background-color: whitesmoke;
  padding-left: 5%;
  color: #212121;
  height: 100px;
  align-items: center;
}

.dlog-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
